@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

.home {
  background-image: url("/public/images/home.png");
  background-position: center;
  background-size: cover;
}
.scroller {
  animation: scroll 40% linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
